@media screen and (max-width: 768px) {
    
    .container {
        display: grid;
        grid-template: 10vh 80vh 10vh/1fr 4fr;
        grid-template-areas:
            "h h"
            "m m"
            "f f";
        }

    aside {
        display: none;
    }

    table {
        height: 120px;
        width: 250px;
    }
}