* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #7159c1;
}

h1 {
    font-family: Arial black;
    color: rgba(0, 0, 0, 0.25);
}

.container {
    display: grid;
    grid-template: auto auto auto / 1fr 4fr;
    grid-template-areas:
        "h h" 
        "a m"
        "f f";
}

header {
    background: rgb(222, 222, 123);
    grid-area: h;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

main {
    background: rgb(123, 189, 222);
    grid-area: m;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 25px;
}

main h1 {
    position: absolute;
}

aside {
    background: rgb(123, 222, 146);
    grid-area: a;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

footer {
    background: rgb(222, 123, 123);
    grid-area: f;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
}

/* TABLE */
table {
    height: 220px;
    max-width: 350px;
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    background: white;
    overflow: hidden;
    text-align: center;
}

table thead {
    background: #d4d3d3 ;
    border-bottom: 2px solid #a4a2a2;
    height: 45px;
}

table th, table td {
    padding: 8px 16px;
    font-family: Arial, Helvetica, sans-serif;
}